<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>


    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-config.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


<!--
    <resource-env-ref> 
        <resource-env-ref-name>jms/ConnectionFactory</resource-env-ref-name>
        <resource-env-ref-type>javax.jms.QueueConnectionFactory</resource-env-ref-type>  
    </resource-env-ref>
       
    <resource-env-ref>
        <resource-env-ref-name>jms/OnNewPayment</resource-env-ref-name>
        <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>       
    </resource-env-ref>
       
    <resource-env-ref>  
        <resource-env-ref-name>jms/OnDebitNetworkTransaction</resource-env-ref-name> 
        <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>  
    </resource-env-ref>

-->


    <resource-ref>
        <res-ref-name>jms/ConnectionFactory</res-ref-name>
        <res-type>javax.jms.QueueConnectionFactory</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
       
    <resource-ref>
        <res-ref-name>jms/OnDebitNetworkTransaction</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
       
<!--    <resource-ref>
        <res-ref-name>jms/OnNewPayment</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
    <resource-env-ref>
        <resource-env-ref-name>jms/OnNewPayment</resource-env-ref-name>
        <resource-env-ref-type>javax.jms.Queue</resource-env-ref-type>
    </resource-env-ref>
   <!-- <resource-ref>
        <res-ref-name>jms/P2PPYMTREQUEST</res-ref-name>
        <res-type>javax.jms.Queue</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->



</web-app>
